*{
    margin: 0px;
    padding: 0px;
}

.menu-conatainer{
    background-color: rgb(29, 28, 28);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
}

.item{
    margin-right: 10px;
    padding-right: 07px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: aquamarine;
}
.logo-image{
    width: 120px;
}
.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /*border: 2px solid grey;*/
    background-image: url(./icon/background.png), linear-gradient(45deg,#1d1c1c,#141414);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding:10px 20px;
    background-color: aquamarine;
    border: none;
    border-radius: 3px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px
}
.about-title{
    padding: 20px;
    text-align: center;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px grey;
    background-color: #141414;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 100px;
}

.box-btn{
    background-color: gray;
    margin-top: 10px;

}
.box-title{
    padding: 10px;
}

.box-description{
    padding: 5px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}